<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.sqlserver_mapper.DispatchListsMapper">
    <sql id="Require_Column_List">
        autoid,
        dlid,
        icorid,
        cwhcode,
        cinvcode,
        iquantity,
        inum,
        iquotedprice,
        iunitprice,
        itaxunitprice,
        imoney,
        itax,
        isum,
        idiscount,
        inatunitprice,
        inatmoney,
        inattax,
        inatsum,
        inatdiscount,
        isettlenum,
        isettlequantity,
        ibatch,
        cbatch,
        bsettleall,
        itb,
        tbquantity,
        isosid,
        idlsid,
        kl,
        kl2,
        cinvname,
        itaxrate,
        cdefine22,
        cdefine23,
        cdefine24,
        foutquantity,
        foutnum,
        csocode,
        bqaneedcheck,
        bqaurgency,
        bqachecking,
        bqachecked,
        fsumsignquantity,
        fsumsignnum,
        bcosting,
        cordercode,
        iorderrowno,
        iexchsum,
        irowno,
        bneedsign,
        bsignover,
        bneedloss,
        flossrate,
        frlossqty,
        fveribillqty,
        fveribillsum,
        isaleoutid,
        bsaleprice,
        bgift,
        bmpforderclosed,
        cbsysbarcode,
        biacreatebill
    </sql>
    <select id="selectRequire" resultType="com.leaderment.sqlserver_pojo.DispatchListsVO">
        select
        <include refid="Require_Column_List"/>

        from DispatchLists
    </select>
</mapper>