<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.sqlserver_mapper.RdRecord01Mapper">
  <sql id="Require_Column_List">
    id,
	brdflag,
	cvouchtype,
	cbustype,
	csource,
	cwhcode,
	ddate,
	ccode,
	crdcode,
	cdepcode,
	cptcode,
	cvencode,
	cordercode,
	carvcode,
	chandler,
	cmemo,
	btransflag,
	cmaker,
	cdefine1,
	cdefine2,
	dveridate,
	darvdate,
	VT_ID as vtId,
	ipurarriveid,
	itaxrate,
	iexchrate,
	cExch_Name as cexchName,
	cmodifyperson,
	dmodifydate,
	dnmaketime,
	dnmodifytime,
	dnverifytime,
	cvenpuomprotocol,
	dcreditstart,
	icreditperiod,
	dgatheringdate,
	bcredit,
	cpzid,
	csysbarcode,
	cchecksignflag
  </sql>
  <select id="selectRequire" resultType="com.leaderment.sqlserver_pojo.RdRecord01VO">
    select 
    <include refid="Require_Column_List" />
    from RdRecord01
  </select>
</mapper>