<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.mysql_mapper.MDispatchListsMapper">
    <insert id="batchInsert" parameterType="java.util.List">
        insert into DispatchLists (AutoID, DLID, iCorID,
        cWhCode, cInvCode, iQuantity,
        iNum, iQuotedPrice, iUnitPrice,
        iTaxUnitPrice, iMoney, iTax,
        iSum, iDisCount, iNatUnitPrice,
        iNatMoney, iNatTax, iNatSum,
        iNatDisCount, iSettleNum, iSettleQuantity,
        iBatch, cBatch, bSettleAll,
        iTB, TBQuantity, iSOsID,
        iDLsID, KL, KL2, cInvName,
        iTaxRate, cDefine22, cDefine23,
        cDefine24, fOutQuantity, fOutNum,
        cSoCode, bQANeedCheck, bQAUrgency,
        bQAChecking, bQAChecked, fsumsignquantity,
        fsumsignnum, bcosting, cordercode,
        iorderrowno, iexchsum, irowno,
        bneedsign, bsignover, bneedloss,
        flossrate, frlossqty, fVeriBillQty,
        fVeriBillSum, isaleoutid, bsaleprice,
        bgift, bmpforderclosed, cbSysBarCode,
        bIAcreatebill)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.autoid},
            #{item.dlid},
            #{item.icorid},
            #{item.cwhcode},
            #{item.cinvcode},
            #{item.iquantity},
            #{item.inum},
            #{item.iquotedprice},
            #{item.iunitprice},
            #{item.itaxunitprice},
            #{item.imoney},
            #{item.itax},
            #{item.isum},
            #{item.idiscount},
            #{item.inatunitprice},
            #{item.inatmoney},
            #{item.inattax},
            #{item.inatsum},
            #{item.inatdiscount},
            #{item.isettlenum},
            #{item.isettlequantity},
            #{item.ibatch},
            #{item.cbatch},
            #{item.bsettleall},
            #{item.itb},
            #{item.tbquantity},
            #{item.isosid},
            #{item.idlsid},
            #{item.kl},
            #{item.kl2},
            #{item.cinvname},
            #{item.itaxrate},
            #{item.cdefine22},
            #{item.cdefine23},
            #{item.cdefine24},
            #{item.foutquantity},
            #{item.foutnum},
            #{item.csocode},
            #{item.bqaneedcheck},
            #{item.bqaurgency},
            #{item.bqachecking},
            #{item.bqachecked},
            #{item.fsumsignquantity},
            #{item.fsumsignnum},
            #{item.bcosting},
            #{item.cordercode},
            #{item.iorderrowno},
            #{item.iexchsum},
            #{item.irowno},
            #{item.bneedsign},
            #{item.bsignover},
            #{item.bneedloss},
            #{item.flossrate},
            #{item.frlossqty},
            #{item.fveribillqty},
            #{item.fveribillsum},
            #{item.isaleoutid},
            #{item.bsaleprice},
            #{item.bgift},
            #{item.bmpforderclosed},
            #{item.cbsysbarcode},
            #{item.biacreatebill})

        </foreach>
        ON DUPLICATE KEY UPDATE
        AutoID = values(AutoID),
        DLID = values(DLID),
        iCorID = values(iCorID),
        cWhCode = values(cWhCode),
        cInvCode = values(cInvCode),
        iQuantity = values(iQuantity),
        iNum = values(iNum),
        iQuotedPrice = values(iQuotedPrice),
        iUnitPrice = values(iUnitPrice),
        iTaxUnitPrice = values(iTaxUnitPrice),
        iMoney = values(iMoney),
        iTax = values(iTax),
        iSum = values(iSum),
        iDisCount = values(iDisCount),
        iNatUnitPrice = values(iNatUnitPrice),
        iNatMoney = values(iNatMoney),
        iNatTax = values(iNatTax),
        iNatSum = values(iNatSum),
        iNatDisCount = values(iNatDisCount),
        iSettleNum = values(iSettleNum),
        iSettleQuantity = values(iSettleQuantity),
        iBatch = values(iBatch),
        cBatch = values(cBatch),
        bSettleAll = values(bSettleAll),
        iTB = values(iTB),
        TBQuantity = values(TBQuantity),
        iSOsID = values(iSOsID),
        iDLsID = values(iDLsID),
        KL  = values(KL),
        KL2 = values(KL2),
        cInvName = values(cInvName),
        iTaxRate = values(iTaxRate),
        cDefine22 = values(cDefine22),
        cDefine23 = values(cDefine23),
        cDefine24 = values(cDefine24),
        fOutQuantity = values(fOutQuantity),
        fOutNum = values(fOutNum),
        cSoCode = values(cSoCode),
        bQANeedCheck = values(bQANeedCheck),
        bQAUrgency = values(bQAUrgency),
        bQAChecking = values(bQAChecking),
        bQAChecked = values(bQAChecked),
        fsumsignquantity = values(fsumsignquantity),
        fsumsignnum = values(fsumsignnum),
        bcosting = values(bcosting),
        cordercode = values(cordercode),
        iorderrowno = values(iorderrowno),
        iexchsum = values(iexchsum),
        irowno = values(irowno),
        bneedsign = values(bneedsign),
        bsignover = values(bsignover),
        bneedloss = values(bneedloss),
        flossrate = values(flossrate),
        frlossqty = values(frlossqty),
        fVeriBillQty = values(fVeriBillQty),
        fVeriBillSum = values(fVeriBillSum),
        isaleoutid = values(isaleoutid),
        bsaleprice = values(bsaleprice),
        bgift = values(bgift),
        bmpforderclosed = values(bmpforderclosed),
        cbSysBarCode = values(cbSysBarCode),
        bIAcreatebill = values(bIAcreatebill)
    </insert>
    <insert id="insertDispatchListsVO" parameterType="com.leaderment.mysql_pojo.DispatchListsVO">
    insert into DispatchLists (AutoID, DLID, iCorID,
      cWhCode, cInvCode, iQuantity,
      iNum, iQuotedPrice, iUnitPrice,
      iTaxUnitPrice, iMoney, iTax,
      iSum, iDisCount, iNatUnitPrice,
      iNatMoney, iNatTax, iNatSum,
      iNatDisCount, iSettleNum, iSettleQuantity,
      iBatch, cBatch, bSettleAll,
      iTB, TBQuantity, iSOsID,
      iDLsID, KL, KL2, cInvName,
      iTaxRate, cDefine22, cDefine23,
      cDefine24, fOutQuantity, fOutNum,
      cSoCode, bQANeedCheck, bQAUrgency,
      bQAChecking, bQAChecked, fsumsignquantity,
      fsumsignnum, bcosting, cordercode,
      iorderrowno, iexchsum, irowno,
      bneedsign, bsignover, bneedloss,
      flossrate, frlossqty, fVeriBillQty,
      fVeriBillSum, isaleoutid, bsaleprice,
      bgift, bmpforderclosed, cbSysBarCode,
      bIAcreatebill)
    values (#{autoid,jdbcType=INTEGER}, #{dlid,jdbcType=INTEGER}, #{icorid,jdbcType=INTEGER},
      #{cwhcode,jdbcType=VARCHAR}, #{cinvcode,jdbcType=VARCHAR}, #{iquantity,jdbcType=DECIMAL},
      #{inum,jdbcType=DECIMAL}, #{iquotedprice,jdbcType=DECIMAL}, #{iunitprice,jdbcType=DECIMAL},
      #{itaxunitprice,jdbcType=DECIMAL}, #{imoney,jdbcType=DECIMAL}, #{itax,jdbcType=DECIMAL},
      #{isum,jdbcType=DECIMAL}, #{idiscount,jdbcType=DECIMAL}, #{inatunitprice,jdbcType=DECIMAL},
      #{inatmoney,jdbcType=DECIMAL}, #{inattax,jdbcType=DECIMAL}, #{inatsum,jdbcType=DECIMAL},
      #{inatdiscount,jdbcType=DECIMAL}, #{isettlenum,jdbcType=DECIMAL}, #{isettlequantity,jdbcType=DECIMAL},
      #{ibatch,jdbcType=INTEGER}, #{cbatch,jdbcType=VARCHAR}, #{bsettleall,jdbcType=BIT},
      #{itb,jdbcType=TINYINT}, #{tbquantity,jdbcType=DECIMAL}, #{isosid,jdbcType=INTEGER},
      #{idlsid,jdbcType=INTEGER}, #{kl,jdbcType=DECIMAL}, #{kl2,jdbcType=DECIMAL}, #{cinvname,jdbcType=VARCHAR},
      #{itaxrate,jdbcType=DECIMAL}, #{cdefine22,jdbcType=VARCHAR}, #{cdefine23,jdbcType=VARCHAR},
      #{cdefine24,jdbcType=VARCHAR}, #{foutquantity,jdbcType=DECIMAL}, #{foutnum,jdbcType=DECIMAL},
      #{csocode,jdbcType=VARCHAR}, #{bqaneedcheck,jdbcType=BIT}, #{bqaurgency,jdbcType=BIT},
      #{bqachecking,jdbcType=BIT}, #{bqachecked,jdbcType=BIT}, #{fsumsignquantity,jdbcType=DECIMAL},
      #{fsumsignnum,jdbcType=DECIMAL}, #{bcosting,jdbcType=BIT}, #{cordercode,jdbcType=VARCHAR},
      #{iorderrowno,jdbcType=BIGINT}, #{iexchsum,jdbcType=DECIMAL}, #{irowno,jdbcType=BIGINT},
      #{bneedsign,jdbcType=BIT}, #{bsignover,jdbcType=BIT}, #{bneedloss,jdbcType=BIT},
      #{flossrate,jdbcType=DECIMAL}, #{frlossqty,jdbcType=DECIMAL}, #{fveribillqty,jdbcType=DECIMAL},
      #{fveribillsum,jdbcType=DECIMAL}, #{isaleoutid,jdbcType=BIGINT}, #{bsaleprice,jdbcType=BIT},
      #{bgift,jdbcType=BIT}, #{bmpforderclosed,jdbcType=BIT}, #{cbsysbarcode,jdbcType=VARCHAR},
      #{biacreatebill,jdbcType=BIT})

      ON DUPLICATE KEY UPDATE
        AutoID = values(AutoID),
        DLID = values(DLID),
        iCorID = values(iCorID),
        cWhCode = values(cWhCode),
        cInvCode = values(cInvCode),
        iQuantity = values(iQuantity),
        iNum = values(iNum),
        iQuotedPrice = values(iQuotedPrice),
        iUnitPrice = values(iUnitPrice),
        iTaxUnitPrice = values(iTaxUnitPrice),
        iMoney = values(iMoney),
        iTax = values(iTax),
        iSum = values(iSum),
        iDisCount = values(iDisCount),
        iNatUnitPrice = values(iNatUnitPrice),
        iNatMoney = values(iNatMoney),
        iNatTax = values(iNatTax),
        iNatSum = values(iNatSum),
        iNatDisCount = values(iNatDisCount),
        iSettleNum = values(iSettleNum),
        iSettleQuantity = values(iSettleQuantity),
        iBatch = values(iBatch),
        cBatch = values(cBatch),
        bSettleAll = values(bSettleAll),
        iTB = values(iTB),
        TBQuantity = values(TBQuantity),
        iSOsID = values(iSOsID),
        iDLsID = values(iDLsID),
        KL  = values(KL),
        KL2 = values(KL2),
        cInvName = values(cInvName),
        iTaxRate = values(iTaxRate),
        cDefine22 = values(cDefine22),
        cDefine23 = values(cDefine23),
        cDefine24 = values(cDefine24),
        fOutQuantity = values(fOutQuantity),
        fOutNum = values(fOutNum),
        cSoCode = values(cSoCode),
        bQANeedCheck = values(bQANeedCheck),
        bQAUrgency = values(bQAUrgency),
        bQAChecking = values(bQAChecking),
        bQAChecked = values(bQAChecked),
        fsumsignquantity = values(fsumsignquantity),
        fsumsignnum = values(fsumsignnum),
        bcosting = values(bcosting),
        cordercode = values(cordercode),
        iorderrowno = values(iorderrowno),
        iexchsum = values(iexchsum),
        irowno = values(irowno),
        bneedsign = values(bneedsign),
        bsignover = values(bsignover),
        bneedloss = values(bneedloss),
        flossrate = values(flossrate),
        frlossqty = values(frlossqty),
        fVeriBillQty = values(fVeriBillQty),
        fVeriBillSum = values(fVeriBillSum),
        isaleoutid = values(isaleoutid),
        bsaleprice = values(bsaleprice),
        bgift = values(bgift),
        bmpforderclosed = values(bmpforderclosed),
        cbSysBarCode = values(cbSysBarCode),
        bIAcreatebill = values(bIAcreatebill)
  </insert>
</mapper>