<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.mysql_mapper.MDispatchListMapper">
    <insert id="batchInsert" parameterType="java.util.List">
        insert into DispatchList (DLID, cDLCode, cVouchType,
        cSTCode, dDate, cRdCode,
        cDepCode, cPersonCode, SBVID,
        cSBVCode, cSOCode, cCusCode,
        cexch_name, iExchRate, iTaxRate,
        bFirst, bReturnFlag, bSettleAll,
        cMemo, cSaleOut, cDefine1,
        cVerifier, cMaker, iNetLock,
        iSale, cCusName, iVTid,
        cBusType, cCloser,
        cAccounter, cCreChpName, cDefine11,
        cDefine12, cDefine13, cDefine14,
        bIAFirst, bCredit, caddcode,
        iverifystate, ireturncount, iswfcontrolled,
        icreditstate, bARFirst, cmodifier,
        dmoddate, dverifydate, ccusperson,
        dcreatesystime, dverifysystime, dmodifysystime,
        csvouchtype, iflowid, bsigncreate,
        bcashsale, bneedbill, baccswitchflag,
        iPrintCount, bsaleoutcreatebill, cSysBarCode,
        cinvoicecompany, bNotToGoldTax)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dlid},
            #{item.cdlcode},
            #{item.cvouchtype},
            #{item.cstcode},
            #{item.ddate},
            #{item.crdcode},
            #{item.cdepcode},
            #{item.cpersoncode},
            #{item.sbvid},
            #{item.csbvcode},
            #{item.csocode},
            #{item.ccuscode},
            #{item.cexchName},
            #{item.iexchrate},
            #{item.itaxrate},
            #{item.bfirst},
            #{item.breturnflag},
            #{item.bsettleall},
            #{item.cmemo},
            #{item.csaleout},
            #{item.cdefine1},
            #{item.cverifier},
            #{item.cmaker},
            #{item.inetlock},
            #{item.isale},
            #{item.ccusname},
            #{item.ivtid},
            #{item.cbustype},
            #{item.ccloser},
            #{item.caccounter},
            #{item.ccrechpname},
            #{item.cdefine11},
            #{item.cdefine12},
            #{item.cdefine13},
            #{item.cdefine14},
            #{item.biafirst},
            #{item.bcredit},
            #{item.caddcode},
            #{item.iverifystate},
            #{item.ireturncount},
            #{item.iswfcontrolled},
            #{item.icreditstate},
            #{item.barfirst},
            #{item.cmodifier},
            #{item.dmoddate},
            #{item.dverifydate},
            #{item.ccusperson},
            #{item.dcreatesystime},
            #{item.dverifysystime},
            #{item.dmodifysystime},
            #{item.csvouchtype},
            #{item.iflowid},
            #{item.bsigncreate},
            #{item.bcashsale},
            #{item.bneedbill},
            #{item.baccswitchflag},
            #{item.iprintcount},
            #{item.bsaleoutcreatebill},
            #{item.csysbarcode},
            #{item.cinvoicecompany},
            #{item.bnottogoldtax})

        </foreach>
        ON DUPLICATE KEY UPDATE

        DLID = values(DLID),
        cDLCode = values(cDLCode),
        cVouchType = values(cVouchType),
        cSTCode = values(cSTCode),
        dDate = values(dDate),
        cRdCode = values(cRdCode),
        cDepCode = values(cDepCode),
        cPersonCode = values(cPersonCode),
        SBVID = values(SBVID),
        cSBVCode = values(cSBVCode),
        cSOCode = values(cSOCode),
        cCusCode = values(cCusCode),
        cexch_name = values(cexch_name),
        iExchRate = values(iExchRate),
        iTaxRate = values(iTaxRate),
        bFirst = values(bFirst),
        bReturnFlag = values(bReturnFlag),
        bSettleAll = values(bSettleAll),
        cMemo = values(cMemo),
        cSaleOut = values(cSaleOut),
        cDefine1 = values(cDefine1),
        cVerifier = values(cVerifier),
        cMaker = values(cMaker),
        iNetLock = values(iNetLock),
        iSale = values(iSale),
        cCusName = values(cCusName),
        iVTid = values(iVTid),
        cBusType = values(cBusType),
        cCloser = values(cCloser),
        cAccounter = values(cAccounter),
        cCreChpName = values(cCreChpName),
        cDefine11 = values(cDefine11),
        cDefine12 = values(cDefine12),
        cDefine13 = values(cDefine13),
        cDefine14 = values(cDefine14),
        bIAFirst = values(bIAFirst),
        bCredit = values(bCredit),
        caddcode = values(caddcode),
        iverifystate = values(iverifystate),
        ireturncount = values(ireturncount),
        iswfcontrolled = values(iswfcontrolled),
        icreditstate = values(icreditstate),
        bARFirst = values(bARFirst),
        cmodifier = values(cmodifier),
        dmoddate = values(dmoddate),
        dverifydate = values(dverifydate),
        ccusperson = values(ccusperson),
        dcreatesystime = values(dcreatesystime),
        dverifysystime = values(dverifysystime),
        dmodifysystime = values(dmodifysystime),
        csvouchtype = values(csvouchtype),
        iflowid = values(iflowid),
        bsigncreate = values(bsigncreate),
        bcashsale = values(bcashsale),
        bneedbill = values(bneedbill),
        baccswitchflag = values(baccswitchflag),
        iPrintCount = values(iPrintCount),
        bsaleoutcreatebill = values(bsaleoutcreatebill),
        cSysBarCode = values(cSysBarCode),
        cinvoicecompany = values(cinvoicecompany),
        bNotToGoldTax = values (bNotToGoldTax)
    </insert>

</mapper>