<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.mysql_mapper.MInventoryMapper">
    <insert id="batchInsert" parameterType="java.util.List">
        insert into Inventory (cInvCode, cInvAddCode, cInvName,
        cInvStd, cInvCCode, cVenCode,
        cReplaceItem, cPosition, bSale,
        bPurchase, bSelf, bComsume, bProducing,
        bService, bAccessary, iTaxRate,
        dSDate, dEDate, cInvDefine1,
        I_id, cCreatePerson, cModifyPerson,
        dModifyDate, cValueType, cPlanMethod,
        bMPS, bROP, bRePlan, cSRPolicy,
        bBillUnite, cShopUnit, fConvertRate,
        bInvModel, bKCCutMantissa, bReceiptByDT,
        iImpTaxRate, iPlanDefault, iAllocatePrintDgt,
        bCheckBatch, bMngOldpart)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cinvcode},
            #{item.cinvaddcode},
            #{item.cinvname},
            #{item.cinvstd},
            #{item.cinvccode},
            #{item.cvencode},
            #{item.creplaceitem},
            #{item.cposition},
            #{item.bsale},
            #{item.bpurchase},
            #{item.bself},
            #{item.bcomsume},
            #{item.bproducing},
            #{item.bservice},
            #{item.baccessary},
            #{item.itaxrate},
            #{item.dsdate},
            #{item.dedate},
            #{item.cinvdefine1},
            #{item.iId},
            #{item.ccreateperson},
            #{item.cmodifyperson},
            #{item.dmodifydate},
            #{item.cvaluetype},
            #{item.cplanmethod},
            #{item.bmps},
            #{item.brop},
            #{item.breplan},
            #{item.csrpolicy},
            #{item.bbillunite},
            #{item.cshopunit},
            #{item.fconvertrate},
            #{item.binvmodel},
            #{item.bkccutmantissa},
            #{item.breceiptbydt},
            #{item.iimptaxrate},
            #{item.iplandefault},
            #{item.iallocateprintdgt},
            #{item.bcheckbatch},
            #{item.bmngoldpart})

        </foreach>
        ON DUPLICATE KEY UPDATE
        cInvCode = values (cInvCode),
        cInvAddCode = values (cInvAddCode),
        cInvName = values (cInvName),
        cInvStd = values (cInvStd),
        cInvCCode = values (cInvCCode),
        cVenCode = values (cVenCode),
        cReplaceItem = values (cReplaceItem),
        cPosition = values (cPosition),
        bSale = values (bSale),
        bPurchase = values (bPurchase),
        bSelf = values (bSelf),
        bComsume = values (bComsume),
        bProducing = values (bProducing),
        bService = values (bService),
        bAccessary = values (bAccessary),
        iTaxRate = values (iTaxRate),
        dSDate = values (dSDate),
        dEDate = values (dEDate),
        cInvDefine1 = values (cInvDefine1),
        I_id = values (I_id),
        cCreatePerson = values (cCreatePerson),
        cModifyPerson = values (cModifyPerson),
        dModifyDate = values (dModifyDate),
        cValueType = values (cValueType),
        cPlanMethod = values (cPlanMethod),
        bMPS = values (bMPS),
        bROP = values (bROP),
        bRePlan = values (bRePlan),
        cSRPolicy = values (cSRPolicy),
        bBillUnite = values (bBillUnite),
        cShopUnit = values (cShopUnit),
        fConvertRate = values (fConvertRate),
        bInvModel = values (bInvModel),
        bKCCutMantissa = values (bKCCutMantissa),
        bReceiptByDT = values (bReceiptByDT),
        iImpTaxRate = values (iImpTaxRate),
        iPlanDefault = values (iPlanDefault),
        iAllocatePrintDgt = values (iAllocatePrintDgt),
        bCheckBatch = values (bCheckBatch),
        bMngOldpart = values (bMngOldpart)
    </insert>
</mapper>