<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.mysql_mapper.MRdrecords01Mapper">
	<insert id="batchInsert" parameterType="java.util.List">
       insert into rdrecords01 (auto_id, id, c_inv_code, 
      i_quantity, i_unit_cost, i_price, 
      i_aprice, c_batch, d_sdate, 
      i_squantity, i_snum, i_money, 
      c_define23, c_define24, i_pos_id, 
      f_acost, i_nquantity, ch_ven_code, 
      i_arrs_id, i_ori_tax_cost, i_ori_cost, 
      i_ori_money, i_ori_tax_price, i_ori_sum, 
      i_tax_rate, i_tax_price, i_sum, 
      b_tax_cost, c_po_id, c_baccounter, 
      db_KeepDate, b_costing, i_sum_bill_quantity, 
      c_barvcode, d_barvdate, corufts, 
      i_row_no, c_bsysbar_code)
       values
       <foreach collection="list" item="item" index="index" separator=",">
	       	  (#{item.autoid},
	       	  #{item.id},
	       	  #{item.cinvcode},
		      #{item.iquantity},
		      #{item.iunitcost},
		      #{item.iprice},
		      #{item.iaprice},
		      #{item.cbatch},
		      #{item.dsdate},
		      #{item.isquantity},
		      #{item.isnum},
		      #{item.imoney},
		      #{item.cdefine23},
		      #{item.cdefine24},
		      #{item.iposid},
		      #{item.facost},
		      #{item.inquantity},
		      #{item.chvencode},
		      #{item.iarrsid},
		      #{item.ioritaxcost},
		      #{item.ioricost},
		      #{item.iorimoney},
		      #{item.ioritaxprice},
		      #{item.iorisum},
		      #{item.itaxrate},
		      #{item.itaxprice},
		      #{item.isum},
		      #{item.btaxcost},
		      #{item.cpoid},
		      #{item.cbaccounter},
		      #{item.dbkeepdate},
		      #{item.bcosting},
		      #{item.isumbillquantity},
		      #{item.cbarvcode},
		      #{item.dbarvdate},
		      #{item.corufts},
		      #{item.irowno},
		      #{item.cbsysbarcode}
            	)
       </foreach>
       ON DUPLICATE KEY UPDATE 
       	 		auto_id = values(auto_id),
	       	  id = values(id),
	       	  c_inv_code = values(c_inv_code),
		      i_quantity = values(i_quantity),
		      i_unit_cost = values(i_unit_cost),
		      i_price = values(i_price),
		      i_aprice = values(i_aprice),
		      c_batch = values(c_batch),
		      d_sdate = values(d_sdate),
		      i_squantity = values(i_squantity),
		      i_snum = values(i_snum),
		      i_money = values(i_money),
		      c_define23 = values(c_define23),
		      c_define24 = values(c_define24),
		      i_pos_id = values(i_pos_id),
		      f_acost = values(f_acost),
		      i_nquantity = values(i_nquantity),
		      ch_ven_code = values(ch_ven_code),
		      i_arrs_id = values(i_arrs_id),
		      i_ori_tax_cost = values(i_ori_tax_cost),
		      i_ori_cost = values(i_ori_cost),
		      i_ori_money = values(i_ori_money),
		      i_ori_tax_price = values(i_ori_tax_price),
		      i_ori_sum = values(i_ori_sum),
		      i_tax_rate = values(i_tax_rate),
		      i_tax_price = values(i_tax_price),
		      i_sum = values(i_sum),
		      b_tax_cost = values(b_tax_cost),
		      c_po_id = values(c_po_id),
		      c_baccounter = values(c_baccounter),
		      db_KeepDate = values(db_KeepDate),
		      b_costing = values(b_costing),
		      i_sum_bill_quantity = values(i_sum_bill_quantity),
		      c_barvcode = values(c_barvcode),
		      d_barvdate = values(d_barvdate),
		      corufts = values(corufts),
		      i_row_no = values(i_row_no),
		      c_bsysbar_code = values(c_bsysbar_code)
   </insert>  
</mapper>