<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.mysql_mapper.SupplierMapper">
  <insert id="batchInsert" parameterType="java.util.List">
       insert into supplier (c_ven_code, c_ven_name, c_ven_abb_name, c_vc_Code, c_ven_address, d_ven_dev_date, 
	    c_ven_email, c_ven_person, c_ven_hand, c_ven_head_code, b_ven_tax, c_create_person, 
	    c_modify_person, d_modify_date, c_ven_exch_name, c_ven_puom_protocol, i_ven_tax_rate, 
	    d_ven_create_datetime, c_ven_mnem_code, c_ven_contact_code)
       values
       <foreach collection="list" item="item" index="index" separator=",">
           (#{item.cvencode},
            #{item.cvenname},
            #{item.cvenabbname},
		    #{item.cvccode},
		    #{item.cvenaddress},
		    #{item.dvendevdate},
		    #{item.cvenemail},
		    #{item.cvenperson},
		    #{item.cvenhand},
		    #{item.cvenheadcode},
		    #{item.bventax},
		    #{item.ccreateperson},
		    #{item.cmodifyperson},
		    #{item.dmodifydate},
		    #{item.cvenexchName},
		    #{item.cvenpuomprotocol},
		    #{item.iventaxrate},
		    #{item.dvencreatedatetime},
		    #{item.cvenmnemcode},
		    #{item.cvencontactcode})
       </foreach>
       ON DUPLICATE KEY UPDATE 
        c_ven_code = values(c_ven_code),
        c_ven_name = values(c_ven_name),
        c_ven_abb_name = values(c_ven_abb_name),
        c_vc_Code = values(c_vc_Code),
        c_ven_address = values(c_ven_address),
        d_ven_dev_date = values(d_ven_dev_date),
	    c_ven_email = values(c_ven_email),
	    c_ven_person = values(c_ven_person), 
	    c_ven_hand = values(c_ven_hand), 
	    c_ven_head_code = values(c_ven_head_code), 
	    b_ven_tax = values(b_ven_tax), 
	    c_create_person = values(c_create_person), 
	    c_modify_person = values(c_modify_person),
	    d_modify_date = values(d_modify_date),
	    c_ven_exch_name = values(c_ven_exch_name), 
	    c_ven_puom_protocol = values(c_ven_puom_protocol), 
	    i_ven_tax_rate = values(i_ven_tax_rate),
	    d_ven_create_datetime = values(d_ven_create_datetime), 
	    c_ven_mnem_code = values(c_ven_mnem_code), 
	    c_ven_contact_code = values(c_ven_contact_code) 
   </insert>
  
</mapper>